- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all installed packages
  ansible.builtin.apt:
    upgrade: true

- name: Install basic packages
  ansible.builtin.apt:
    name:
      - zsh
      - vim
      - git
      - htop
      - btop
      - curl
      - wget
      - bash-completion
    state: present

- name: Install Oh My Zsh using official installer (unattended)
  ansible.builtin.shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh"
  become: true
  become_user: "{{ ansible_user }}"

- name: Set Zsh as the default shell for the user
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /usr/bin/zsh

- name: Ensure services directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/services"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
